---
import '../styles/global.css'
import donateImage from "../assets/donate-image.jpg"
import interacLogo from "../assets/Interac.Logo1.png"
import radioButtonIcon from "../assets/checkbox.unchecked.png"
import radioButtonCheckedIcon from "../assets/icons8-choice-67.png"
import radioButtonSelectedIcon from "../assets/checkbox.checked.png"
import CharityPoster1 from "../assets/CharityPoster1.png"
import CharityPoster2 from "../assets/CharityPoster2.png"
import CharityPoster3 from "../assets/CharityPoster3.png"
---

<div class="px-4 p-2 md:px-8 md:py-2 mx-auto">
    <div class="container mt-5">
        <div class="bg-emerald-950 rounded-xl text-gray-100 p-5">
            

            <div class="p-2 md:p-20 mb-10">
                <h4 class="text-4xl font-black mb-10">Donate</h4>
                <div class="flex gap-6 h-fit">
                

                    <div class="w-[150px] md:w-[180px]">
                        <div id="image-container" style="position: relative;">
                            <img class="fade" src={CharityPoster1.src} alt="Charity Image 1">
                            <img class="fade fade-out" src={CharityPoster2.src} alt="Charity Image 2">
                            <img class="fade fade-out" src={CharityPoster3.src} alt="Charity Image 3">
                        </div>
                    </div>
                    <div class="w-full md:w-fit text-sm md:text-md lg:text-lg xl:text-xl">
                        <p class="mb-3">Help us to improve our services and to offer much more to our community by donating generously.</p>
                        <p class="mb-3">Your donations big or small makes a significant impact.</p>
                        <p class="mb-9">Jazakumullah Khair for your continous donations and support.</p>
                    </div>

                </div>
            </div>

            <div class="p-2 md:p-20 mt-10 min-[575px]:mt-16 min-[620px]:mt-20 md:mt-5 min-[1300px]:mt-16">
                <div class="">
                    <div class="mb-16">
                        <div class="pb-2 border-b border-cyan-300 mb-3">
                            <h4 class="text-xl font-black text-cyan-500">Choose Project</h4>
                        </div>
                        <div class="divDonationSelectionSummary"></div>
                        <div class="flex flex-wrap gap-6 mt-5 divSelectProject">
                            <div class="divProjectMasjid divProject bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">Masjid</span>
                            </div>
                            <div class="divProjectNewCentre divProject bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2 hidden">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">New Islamic Centre</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-16">
                        <div class="pb-2 border-b border-cyan-300 mb-3">
                            <h4 class="text-xl font-black text-cyan-500">Choose amount</h4>
                        </div>
                        <div class="flex flex-wrap gap-6 mt-5 divSelectAmount">
                            <div class="divAmount25 divAmount bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">25</span>
                            </div>
                            <div class="divAmount50 divAmount bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">50</span>
                            </div>
                            <div class="divAmount100 divAmount bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">100</span>
                            </div>
                            <div class="divAmount200 divAmount bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">200</span>
                            </div>
                            <div class="divAmount250 divAmount bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">250</span>
                            </div>
                            <div class="divAmount500 divAmount bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">500</span>
                            </div>
                            <div class="divAmount1000 divAmount bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">1000</span>
                            </div>
                            <div class="divAmountEnter divAmount bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">Enter</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-1">
                        <div class="pb-2 border-b border-cyan-300 mb-3">
                            <h4 class="text-xl font-black text-cyan-500">Choose Frequency</h4>
                        </div>
                        <div class="flex flex-wrap gap-6 mt-5 divSelectFrequency">
                            <div class="divFrequencyOneTime divFrequency bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">One Time</span>
                            </div>
                            <div class="divFrequencyMonthly divFrequency bg-gray-200 text-gray-900 font-bold px-4 py-1 rounded-md flex gap-2">
                                <img src={radioButtonIcon.src} alt="radiobutton" class="unselectedIcon h-5 w-5 mt-[2px]" />
                                <img src={radioButtonSelectedIcon.src} alt="radiobutton" class="selectedIcon h-5 w-5 mt-[2px] hidden" />
                                <span class="selectedText">Monthly</span>
                            </div>
                        </div>
                    </div>
    
    
    
    
    
                    <div class="h-[50px] py-5 mb-10">
                        <div class="alert-div-donate hidden text-center px-6 py-1 rounded-md w-fit">
                            
                        </div>
                    </div>
                </div>
                
                
    
                <div class="flex flex-wrap gap-6">
                    <button class="bg-teal-500 hover:bg-teal-700 text-white text-lg font-bold py-2 px-24 rounded-xl btnDonate">Donate</button>
                </div>
            </div>

            <div class="p-2 md:p-20 mt-2 flex flex-wrap gap-6 text-sm md:text-md lg:text-lg xl:text-xl border-t">
                <div class="">
                    <img src={interacLogo.src} width="100px" alt="Interac" />
                </div>
                
                <div class="w-[75%] flex-row gap-3">
                    <p>To donate via Interac / e-Transfer, please send it to </p>
                    <div class="flex flex-wrap gap-1">
                        <div class="font-bold mt-3">
                            <span>For Masjid : </span>
                        </div>
                        <div class="font-bold bg-yellow-500 text-gray-800 rounded-lg text-center mt-3 px-3">
                            <span>accounting@oiacentre.com</span>
                        </div>
                    </div>
                    <div class="flex flex-wrap gap-1">
                        <div class="font-bold mt-3"><span>For New Islamic School : </span></div>
                        <div class="font-bold bg-yellow-500 text-gray-800 rounded-lg text-center mt-3 px-3">
                            <span>new.project@oiacedmonton.ca</span>
                        </div>
                    </div>
                    
                </div>
                
            </div>

        </div>
    </div>
</div>

<script>
    import { showNotification } from "../components/Alert"
    const btnDonate = document.querySelector('.btnDonate') as HTMLButtonElement
    
    let selectedProject = ''
    let selectedAmount = ''
    let selectedFrequency = ''

    

    const oneTimeDonation25 = 'https://donate.stripe.com/14k9E38sseqccpO6ou'
    const monthlyDonation25 = 'https://buy.stripe.com/00g9E38ss3Ly61qdQR'
    const oneTimeDonation50 = 'https://donate.stripe.com/aEUcQf9ww6XK61qdQX'
    const monthlyDonation50 = 'https://buy.stripe.com/eVag2r38895S89yaEG'
    const oneTimeDonation100 = 'https://donate.stripe.com/cN217xgYYeqcahG6ow'
    const monthlyDonation100 = 'https://buy.stripe.com/aEU9E3eQQ81O61q28b'
    const oneTimeDonation200 = 'https://donate.stripe.com/8wM9E3dMM81O4Xm14d'
    const monthlyDonation200 = 'https://buy.stripe.com/00g8zZ8ss81O9dCbIN'
    const oneTimeDonation250 = 'https://donate.stripe.com/7sI8zZ5ggbe089y9AN'
    const monthlyDonation250 = 'https://buy.stripe.com/cN27vVgYY2Hu89y5ku'
    const oneTimeDonation500 = 'https://donate.stripe.com/9AQ8zZ6kk95S0H6aES'
    const monthlyDonation500 = 'https://buy.stripe.com/28o03taAA5TGfC014f'
    const oneTimeDonation1000 = 'https://donate.stripe.com/6oEeYnaAAci4fC014j'
    const monthlyDonation1000 = 'https://buy.stripe.com/3cseYnbEEci44XmcMY'
    const oneTimeDonationCustom = 'https://donate.stripe.com/9AQ2bBeQQ95SblK9AA'

    // school project donation links
    const oneTimeDonation25School = 'https://donate.stripe.com/6oE9Dt4MPeMf9NufZ6'
    const monthlyDonation25School = 'https://buy.stripe.com/28oeXNfrt9rVbVC5kl'
    const oneTimeDonation50School = 'https://donate.stripe.com/14keXNa79bA35xe5kt'
    const monthlyDonation50School = 'https://buy.stripe.com/5kA2b16UX7jN3p6fZ0'
    const oneTimeDonation100School = 'https://donate.stripe.com/3cscPFgvxcE77Fm8wG'
    const monthlyDonation100School = 'https://buy.stripe.com/cN28zpa79fQjgbS003'
    const oneTimeDonation200School = 'https://donate.stripe.com/8wMaHxdjl0Vp1gYeV5'
    const monthlyDonation200School = 'https://buy.stripe.com/7sI9Dta79fQj1gYfZ2'
    const oneTimeDonation250School = 'https://donate.stripe.com/9AQ4j9a790VpbVC5kw'
    const monthlyDonation250School = 'https://buy.stripe.com/6oE9Dt4MP6fJ3p6aEJ'
    const oneTimeDonation500School = 'https://donate.stripe.com/bIY8zp3IL1Zt7Fm28l'
    const monthlyDonation500School = 'https://buy.stripe.com/6oE2b1frt9rVcZGdQW'
    const oneTimeDonation1000School = 'https://donate.stripe.com/6oEbLB4MPcE72l200e'
    const monthlyDonation1000School = 'https://buy.stripe.com/3cseXN2EHavZ8JqfZ5'
    const oneTimeDonationCustomSchool = 'https://donate.stripe.com/8wMbLBgvxdIbcZG7ss'


    const donationLinks = [
        {
            "project" : "Masjid",
            "amount" : "25",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation25
        },
        {
            "project" : "Masjid",
            "amount" : "25",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation25
        },
        {
            "project" : "Masjid",
            "amount" : "50",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation50
        },
        {
            "project" : "Masjid",
            "amount" : "50",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation50
        },
        {
            "project" : "Masjid",
            "amount" : "100",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation100
        },
        {
            "project" : "Masjid",
            "amount" : "100",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation100
        },
        {
            "project" : "Masjid",
            "amount" : "200",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation200
        },
        {
            "project" : "Masjid",
            "amount" : "200",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation200
        },
        {
            "project" : "Masjid",
            "amount" : "250",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation250
        },
        {
            "project" : "Masjid",
            "amount" : "250",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation250
        },
        {
            "project" : "Masjid",
            "amount" : "500",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation500
        },
        {
            "project" : "Masjid",
            "amount" : "500",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation500
        },
        {
            "project" : "Masjid",
            "amount" : "1000",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation1000
        },
        {
            "project" : "Masjid",
            "amount" : "1000",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation1000
        },
        {
            "project" : "Masjid",
            "amount" : "Enter",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonationCustom
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "25",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation25School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "25",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation25School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "50",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation50School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "50",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation50School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "100",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation100School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "100",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation100School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "200",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation200School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "200",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation200School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "250",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation250School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "250",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation250School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "500",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation500School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "500",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation500School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "1000",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonation1000School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "1000",
            "frequency" : "Monthly",
            "donationLink" : monthlyDonation1000School
        },
        {
            "project" : "New Islamic Centre",
            "amount" : "Enter",
            "frequency" : "One Time",
            "donationLink" : oneTimeDonationCustomSchool
        }
    ]



const divProjectMasjid = document.querySelector('.divProjectMasjid') as HTMLDivElement
    const divProjectNewCentre = document.querySelector('.divProjectNewCentre') as HTMLDivElement

    const divAmount25 = document.querySelector('.divAmount25') as HTMLDivElement
    const divAmount50 = document.querySelector('.divAmount50') as HTMLDivElement
    const divAmount100 = document.querySelector('.divAmount100') as HTMLDivElement
    const divAmount200 = document.querySelector('.divAmount200') as HTMLDivElement
    const divAmount250 = document.querySelector('.divAmount250') as HTMLDivElement
    const divAmount500 = document.querySelector('.divAmount500') as HTMLDivElement
    const divAmount1000 = document.querySelector('.divAmount1000') as HTMLDivElement
    const divAmountEnter = document.querySelector('.divAmountEnter') as HTMLDivElement

    const divFrequencyOneTime = document.querySelector('.divFrequencyOneTime') as HTMLDivElement
    const divFrequencyMonthly = document.querySelector('.divFrequencyMonthly') as HTMLDivElement

    const groupProjectOptions = [divProjectMasjid, divProjectNewCentre]
    const groupAmountOptions = [divAmount25, divAmount50, divAmount100, divAmount200, divAmount250, divAmount500, divAmount1000, divAmountEnter]
    const groupFrequencyOptions = [divFrequencyOneTime, divFrequencyMonthly]

const shuffleCharityImages = () => {
    let index: number = 0;
const images: HTMLImageElement[] = Array.from(document.querySelectorAll<HTMLImageElement>('#image-container img'));

setInterval(() => {
  images[index].classList.add('fade-out');
  index = (index + 1) % images.length;
  images[index].classList.remove('fade-out');
}, 5000);

}

shuffleCharityImages()


// Store the state of each option
const optionStates = new Map();

// Function to handle click event
const handleClick = (event: MouseEvent) => {
    const target = event.currentTarget as HTMLDivElement;
    const unselectedImg = target.querySelector('.unselectedIcon') as HTMLImageElement;
    const selectedImg = target.querySelector('.selectedIcon') as HTMLImageElement;
    const label = target.querySelector('.selectedText') as HTMLSpanElement;

    let selectedGroup = ''
    let group : HTMLDivElement[] = []
    if(target.classList.contains('divProject')){
        selectedGroup = 'Project'
        group = groupProjectOptions
    }

    if(target.classList.contains('divAmount')){
        selectedGroup = 'Amount'
        group = groupAmountOptions
    }

    if(target.classList.contains('divFrequency')){
        selectedGroup = 'Frequency'
        group = groupFrequencyOptions
    }

    // Deselect any previously selected option in the same group
    

    group.forEach(option => {
        if (option !== target && optionStates.get(option)) {
            const optionUnselectedImg = option.querySelector('.unselectedIcon')  as HTMLImageElement;
            const optionSelectedImg = option.querySelector('.selectedIcon')  as HTMLImageElement;
            optionSelectedImg.classList.add('hidden')
            optionSelectedImg.classList.remove('block')
            optionUnselectedImg.classList.remove('hidden')
            optionUnselectedImg.classList.add('block')

            option.classList.remove('bg-emerald-400','shadow-xl', 'shadow-emerald-500/50')
            option.classList.add('bg-gray-200')
            optionStates.set(option, false);
        }
    });

    // Toggle visibility of images
    const isSelected = optionStates.get(target) || false;

    if(isSelected){

        selectedImg.classList.add('hidden')
        selectedImg.classList.remove('block')
        unselectedImg.classList.remove('hidden')
        unselectedImg.classList.add('block')
        target.classList.remove('bg-emerald-400','shadow-xl', 'shadow-emerald-500/50')
        target.classList.add('bg-gray-200')
        if(selectedGroup === 'Project'){
            selectedProject = ''
        }else if(selectedGroup === 'Amount'){
            selectedAmount = ''
        }
    }else{

        selectedImg.classList.remove('hidden')
        selectedImg.classList.add('block')
        unselectedImg.classList.remove('block')
        unselectedImg.classList.add('hidden')
        target.classList.remove('bg-gray-200')
        target.classList.add('bg-emerald-400','shadow-xl', 'shadow-emerald-500/50')
        if(selectedGroup === 'Project'){
            selectedProject = label.innerText
        }else if(selectedGroup === 'Amount'){
            selectedAmount = label.innerText
        }else if(selectedGroup === 'Frequency'){
            selectedFrequency = label.innerText
        }
    }

    // Update the state
    optionStates.set(target, !isSelected);
};


groupProjectOptions.forEach(g => g.addEventListener('click', handleClick))
groupAmountOptions.forEach(g => g.addEventListener('click', handleClick))
groupFrequencyOptions.forEach(g => g.addEventListener('click', handleClick))



    btnDonate.addEventListener('click', event => {
        event.preventDefault()
        
        if(selectedProject === ''){
            showNotification('warning', 'Select a Project to donate', 'alert-div-donate')
            return
        }

        if(selectedAmount === ''){
            showNotification('warning', 'Select an Amount to donate', 'alert-div-donate')
            return
        }

        if(selectedFrequency === ''){
            showNotification('warning', 'Select a Payment Frequency (One Time/ Monthly)', 'alert-div-donate')
            return
        }

        if(selectedAmount === "Enter" && selectedFrequency === "Monthly"){
            showNotification('warning', 'Select fixed amount to donate monthly', 'alert-div-donate')
            return
        }

        const donationLink = donationLinks.find(d => d.project === selectedProject && d.amount === selectedAmount && d.frequency === selectedFrequency)?.donationLink

        if(donationLink){
            openStripePage(donationLink)
            return
        }

        return
    })


    const openStripePage = (url:string) => {
        window.open(url, '_blank')?.focus()
    }
</script>