---
import {getPosts, type OIAC_Post} from '../graphql/posts'
import {type OIAC_PostImage} from '../graphql/posts'
import {getEventsForMonths} from '../graphql/events'
import {type OIAC_Event} from '../graphql/events'
import { isObjectEmpty } from '../helper'

const posts : Array<OIAC_Post> = await getPosts()
---
<div class="px-4 p-2 md:px-8 md:py-2 mx-auto">
    <div class="container mt-5">
        <div class="flex flex-wrap gap-10">
        {posts.map(post => (
            <a href={post.link.url} target="_blank">
                <div class="flex flex-col">
                    <div class="flex-1 grow">
                        <img src={post.image[0].url} alt={post.title} class="rounded-lg w-[75px] md:w-[150px] lg:w-[250px]" />
                    </div>
                    
                    <div>
                        <div class="my-1 bg-emerald-700 hover:bg-emerald-900 text-white p-1 rounded-md w-full text-center text-[10px] md:text-lg">{post.link.text}</div>
                    </div>
                    
                </div>
            </a>
        ))}
        </div>
    </div>
</div>
