---
import {getPosts, type OIAC_Post} from '../graphql/posts'
import {type OIAC_PostImage} from '../graphql/posts'
import {getEventsForMonths} from '../graphql/events'
import {type OIAC_Event} from '../graphql/events'
import { isObjectEmpty } from '../helper'

const posts : Array<OIAC_Post> = await getPosts()
console.log('POSTS : ', JSON.stringify(posts))
---
<div class="px-4 p-2 md:px-8 md:py-2 mx-auto">
    <div class="container mt-5">
        <div class="flex flex-wrap gap-3 md:gap-6 lg:gap-9">
            <div class="flex flex-wrap">
                {posts.map(post => (
                    <div class="w-1/2 md:w-1/3 flex-col p-1 mb-5 md:mb-10">
                        <a href={post.link?.url} target="_blank">
                            <div>
                                <img src={post.image[0].url} alt={post.title} class="rounded-lg" />
                            </div>
                            
                            <div class="my-1 bg-emerald-700 hover:bg-emerald-900 text-white p-1 rounded-md w-full text-center text-[10px] md:text-lg">{post.link?.text}</div>
                        </a>
                    </div>
                ))}
            </div>
        </div>
    </div>
</div>
