---
import type { TestEvents } from "../xata"
const rootUrl = (await import.meta.env.ROOT_URL) as string

const response = await fetch(`${rootUrl}/api/test`)

const testEvents : Array<TestEvents> = await response.json()
---

{testEvents.map(ev => (
    <div class="p-5 rounded-lg bg-blue-100 border border-blue-200">
        <ul>
            <li>Month : {ev.month}</li>
            <li>Day : {ev.day}</li>
            <li>Month : {ev.name}</li>
            {ev.image_url && (
                <img src={ev.image_url} alt={ev.name} class="w-[200px] rounded-lg" />
            )}
        </ul>
    </div>
))}